 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Planning/Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>

      <!-- <i class="devicon-sass-original colored"></i> -->
      <p>ArcGIS, Microsoft Excel, Word, PowerPoint, Access, Photoshop, Final Cut Pro</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <!-- <style type="text/css">.icon-Rlogo:before {
  content: "\e900";
}</style> -->
      <span style=".icon-Rlogo:before {
  content: "\e900"
}"class="icon-Rlogo"></span>
      <!-- <span class="icon-Rlogo"></span> -->
      <!-- <i class="devicon-react-original-wordmark colored"></i> -->
      <!-- <i class="devicon-nodejs-plain-wordmark"></i> -->
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <img src="">

      <p>Python, R, PostgreSQL, SQLite, JavaScript, jQuery, HTML5, CSS, Ruby, Ruby on Rails, Sinatra</p>
    </div>
    <div class="tech">
      <h2>Tools/Libraries</h2>
      <i class="devicon-git-plain"></i>
      <!-- <i class="devicon-gulp-plain colored"></i> -->
      <!-- <i class="devicon-atom-original-wordmark"></i> -->
      <p>Git, Github, Mapbox, Turf.js, OpenLayers, Leaflet</p>
    </div>
</div>
