<div id="particles-js">
  
  <div class="header">
    <!-- new spot for youtube code starts -->
    <!-- html content -->
    <div class="site-header">
    <iframe width="100%" height="100%" id="yt-player" src="https://www.youtube.com/embed/9iOBfiwH9eA?autoplay=1&modestbranding=1&controls=0&showinfo=0&rel=0&enablejsapi=1&version=3&loop=1&playerapiid=ytplayer&allowfullscreen=true&wmode=transparent&iv_load_policy=3&html5=1&playlist=iApVVKsF94E&disablekb=false" frameborder="0"></iframe>
    <!-- <div class="video-overlay"></div> -->
    </div>
    <!-- html ends -->
    <!-- css -->
    <style>
    @import "lesshat";

.site-header {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;



}
/* .video-overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: #000;
  opacity: 0.2;
} */
/* .site-header {
  position: relative;
  z-index: -1;
  text-align: center;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-transform: uppercase;
} */

.site-content {
  padding: 40px 0;
  text-align: center;
}</style>
    <!-- css ends -->
    <!-- javascript here -->
    <script>
    $(window).on('resize load', function() {
  $('.site-header iframe').each(function() {
    var self = $(this);
    var container = self.parent();

   self.css({
      width: container.width() + "px",
      height: container.width() * (9/16) + 'px',
      position: 'absolute',
      marginTop: -container.width() * (9/32) + 'px',
      top: '50%'
    });
  });
});


// Load the IFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('yt-player', {
      autoplay : 1,
      videoId: 'yZM5VAKi5vU',
      playerVars : {
        'autoplay' : 1,
        'rel' : 0,
        'showinfo' : 0,
        'showsearch' : 0,
        'controls' : 0,
        'loop' : 1,
        'enablejsapi' : 1,
        'playlist': 'yZM5VAKi5vU'
      },
      events: {
      	"onReady": onPlayerReady,
      	//"onStateChange": onPlayerStateChange
 			}
	});
}

function onPlayerReady(event) {
	event.target.mute();
  event.target.playVideo();
}

function onPlayerStateChange(event) {        
	var id = 'yZM5VAKi5vU';

    if(event.data === YT.PlayerState.ENDED){
        player.loadVideoById(id);
    }
}
    </script>
    <!-- javascript ends -->
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:keisangittens@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/whatisyourllama?lang=en"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        
        <a aria-label="My Pens" target="_blank" href="https://codepen.io/nasiek/"><i class="icon fa fa-codepen" aria-hidden="true"></i></a>
        
        <a aria-label="My Fiddles" target="_blank" href="https://jsfiddle.net/user/fatherofthenation/fiddles/"><i class="icon fa fa-jsfiddle" aria-hidden="true"></i></a>

        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/keisan-gittens/"><i class="icon fa fa-linkedin" aria-hidden="true"></i>
</a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Nasiek"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
