<div class="user-details" style="padding-bottom: 15px;">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="SafeRide App Demo" src="{{ "/assets/img/saferidedemo1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SafeRide </h3>
    <ul>
      <!-- <li> Featured Skills</li> -->
    </ul>
    <p id="proj1">Used multiple Geospatial Api's specifically: <a target="_blank" class="bottomlink" class="paralinks" href="https://github.com/graphhopper/directions-api-js-client">Graphhopper Directions Api</a>, <a target="_blank" class="bottomlink" class="paralinks"  href="https://github.com/mapbox/mapbox-gl-directions">Mapbox Directions Api</a>, <a target="_blank" class="bottomlink" class="paralinks" href="https://github.com/mapbox/mapbox-gl-js">Mapbox GL JS Api</a>, <a target="_blank" class="bottomlink" class="paralinks" href="https://github.com/mapbox/mapbox-gl-geocoder">Mapbox GL Geocoder</a> to render svg, and <a href="https://macwright.org/2015/03/23/geojson-second-bite" target="_blank" class="bottomlink" class="paralinks">geojson objects</a> in order to solve travelling salesman problem using the bicycle vehicle profile and bias route results. Also used ajax to optimize and render large geojson objects  to the DOM from public API endpoints.</p>
    <a target="_blank" class="project-link" href="http://keisan-saferide.herokuapp.com/">Try it</a>
  </div>
</div>



<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/scoop.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> "Scoop" Microblog </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p id="proj2">Fullstack, backend focused Ruby on Rails Blogging Web App, complete with CRUD actions on Blogposts, Users Account Information and Comments. App has a seeded relational database with many to one and one to many relationships. Styled using Materialize CSS.</p>
    <a target="_blank" class="project-link" href="https://immense-plateau-34450.herokuapp.com/">Try it</a>
  </div>
</div> -->

<div class="user-projects" style="padding-bottom: 15px;">
  <div class="images-left">
    <img alt="Weequahic Walk Cover Photo" src="{{ "/assets/img/WeequahicWalk.png" | prepend: site.baseurl }}" />
  </div>
  <div id="PGcountainer-div" class="contents-right">
    <h3> Weequahic Crossing </h3>
    <ul>
      <!-- <li> Featured Skills</li> -->
    </ul>
    <div class="para-desc3"></div>
    <!-- <p id="proj3">An apartment searching website that provides neighborhood ammenities for rentseekers. Data visualization is geographic and provided from multiple geojson API endpoints, hosted through the <a target="_blank" class="bottomlink" class="paralinks" href="https://cityofphiladelphia.carto.com/u/phl/me">City of Philadelphia's CartoDB account</a>. Users can sign in and view data visualizations. Zillow API search functionality is in beta to be updated soon. Database is in PostgreSQL, backend server uses Devise Gem through Ruby on Rails.</p>
    <a target="_blank" class="project-link" href="https://philly-grid.herokuapp.com/">Try it</a> -->
    <p id="proj3">Joint City Planning and Architecture redevelopment Studio focusing on:
      <ul>
        <li>Comprehensive Long Range Master Plan</li>
        <li>Employment Industry and Land Use Spatial Analysis</li>
        <li>Urban Design Site Planning</li>
        <li>Aerotropolis themed Downtown Development</li>
        <li>Transportation Systems Rerouting</li>
        <li>Architectural Renderings</li>
      </ul>
    <a target="_blank" class="project-link" href="https://drive.google.com/file/d/1IeBDxXg8vrev2smgdOM-fIOHEIpEzvaA/view?usp=sharing">View</a>
  </div>
</div>


<!-- <div class="user-details">
    <h1> Featured Projects </h1>
  </div> -->
  <div class="user-projects" style="padding-bottom: 15px;">
    <div class="images-right">
      <img alt="NSC" src="{{ "/assets/img/NSC_Resettlement.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Community Economic Development Practicum </h3>
      <p id="proj1">Analyzing housing, transportation access, civic, educational and cultural instutitions to identify the best locations to place newly arrived refugees in Philadelphia. 
          <ul>
              <li>Ranked neighborhoods based upon accessibility to services, jobs and community resources.</li>
              <li>Visualized existing community assets from <a target='_blank' title="American Census Bureau" href="https://www.census.gov/" class="bottomlink" class="paralinks">ACB</a>, and <a target='_blank' title="Bureau of Labor Statistics" href="https://www.bls.gov/" class="bottomlink" class="paralinks">BLS</a> to create criteria for housing recommendations.</li>
              <li>Scraped data from <a target='_blank' href="https://www.yelp.com/dataset" class="bottomlink" class="paralinks">Yelp</a> and <a title="Open Data Philly" target='_blank' href="https://www.opendataphilly.org/dataset/neighborhood-food-retail" class="bottomlink" class="paralinks">Open Data</a> to identify and classify local food markets, crime patterns, educational outcomes, employement opportunities, job training resources and demographic clusters.</li>
              <li>Organized and attended site visits, meetings and organizational dynamics analyses to identify client's needs and proposed project deliverables.</li>
            </ul>
      </p>
      <a target="_blank" class="project-link" href="https://drive.google.com/file/d/1KMKSvwFZByJZvBNhRcJSfi3HPZFm2NAa/view?usp=sharing">View</a>
    </div>
  </div>

<style type="text/css">
  .extraprojects{
    padding-top: 30px;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;


  }
  #right{
    
  }
  .project{
    padding: 15px;
    text-align: justify-all;
    width: 60%;
    /*color: #333333;*/
  }
  .bottomlink{
    text-decoration: none;
    color: #333333;
  }
  .bottomlink:hover{
    color: #AEB6BF;

  }
</style>



<h3>Data Analysis Projects</h3>

<div class="extraprojects">
  
      
  <!-- <div class="row1"> -->
    <!-- <ul> -->
      <div class="project"><a target="_blank" class="bottomlink" href="https://drive.google.com/file/d/0B-ydlqhZeg47dlNlQUNHTTBsVERWaW5hS19rT3JlWUhsNFJn/view?usp=sharing">Mapping Transit Oriented Development Opportunities in Philadelphia</a></div>
      <div id="right" class="project"><a target="_blank" class="bottomlink" href="https://drive.google.com/file/d/0B-ydlqhZeg47NG5yeXNjVjR6SjVDUS1TNjZvRjVaMjFJNFpz/view?usp=sharing">Predicting Housing Prices in Philadelphia using Spatial and Aspatial variables via Linear Model Regression Analysis</a></div>
      <!-- <div class="project"><a target="_blank" class="bottomlink" href="https://drive.google.com/file/d/0B-ydlqhZeg47bGw5NTlfOEticEpZbjYtd2tiTW9rcTlNbW00/view?usp=sharing">Evaluating Neighborhoods in Philadelphia for Refugee Resettlement</a></div>

      <div id="right" class="project"><a target="_blank" class="bottomlink" href="https://docs.google.com/presentation/d/1X6hpEQhu3hmH0Wt5g-_kLjxwHXJ2yzLJblxvA_Jmud4/edit?usp=sharing">Mapping Refugee Resettlement Resources in Philadelphia (Presentation)</a></div> -->
    <!-- </ul> -->
<!--   </div> -->
</div>

<h3>Drawings</h3>

<div class="community">
  <div class="project">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
      body {
        font-family: Verdana, sans-serif;
        margin: 0;
      }
      
      * {
        box-sizing: border-box;
      }
      .row{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
      }
     .row > .column {
        display: grid;
        /* margin-left: 5vw; */
        /* margin-right: 60vw;  */
        /* grid-template-columns: repeat(4, 1fr); */
        grid-auto-rows: minmax(100px,auto);
        
        grid-gap: 1em;
        padding: 1em;
        /* width: 25%; */ 
      } 
      .modal > .innerdiv {
        display: grid;
        width: 50%;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 100px auto;
      }
      
      /* .modal > .innerdiv > .column {
        display: grid;
        grid-template-rows: 100px auto;
        grid-template-columns: repeat(4, 1fr);

      } */
      .row > .column {
        display: grid;
        grid-auto-rows: minmax(100px,auto);
      }
      /* .row > .column > .demo .cursor{
        display:grid;
        
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        padding: 1em;
      } */
      .row > .column {
        padding: 0 8px;
        
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* .column { */
        /* display:grid; */
         /* float: left;  */
        /* width: 25%;  */
        /* grid-template-columns: repeat(4, 2fr);
        grid-auto-rows: minmax(1fr, 1fr, 1fr,1fr); */
      /* } */
      
      /* The Modal (background) */
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #9A9A9A;
      }
      
      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
      }
      
      /* The Close Button */
      .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
      }
      
      .mySlides {
        display: none;
      }
      
      .cursor {
        cursor: pointer;
      }
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: #9A9A9A;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* img {
        margin-bottom: -4px;
      } */
      
      .caption-container {
        text-align: center;
        background-color: #9A9A9A;
        padding: 2px 16px;
        color: white;
      }
      
      .demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
        
      }
      
      img.hover-shadow {
        transition: 0.3s;
      }
      
      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      </style>
      <body>
      
      <!-- <h2 style="text-align:center">Lightbox</h2> -->
      
      <div class="row">
        <div class="column">
            <!-- src="{{ "/assets/img/WeequahicWalk.png" | prepend: site.baseurl }}" -->
            <img alt="EWR Site Plan Before" style="width:100%" src="{{ "/assets/img/newark_before.jpg" | prepend: site.baseurl }}" onclick="openModal();currentSlide(1)" class="hover-shadow cursor"/> 
          <!-- <img alt="hello" src="{{ "/assets/img/ESRI.jpg | prepend: site.baseurl }}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor" /> -->
        </div>
        <div class="column">
            <img alt="EWR Site Plan After" style="width:100%" src="{{ "/assets/img/newark_after.jpg" | prepend: site.baseurl }}" onclick="openModal();currentSlide(2)" class="hover-shadow cursor"/>
          <!-- <img src="{{ "/assets/img/photoshop_after1.jpg | prepend: site.baseurl }}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor" /> -->
        </div>
        <div class="column">
            <img alt="Vacant Lot" style="width:100%" src="{{ "/assets/img/photoshop_before.jpg" | prepend: site.baseurl }}" onclick="openModal();currentSlide(3)" class="hover-shadow cursor"/>
        </div>
        <div class="column">
            <img alt="Vacant Lot After1" style="width:100%" src="{{ "/assets/img/photoshop_after1.png" | prepend: site.baseurl }}" onclick="openModal();currentSlide(4)" class="hover-shadow cursor"/>
        </div>
        <div class="column">
            <img alt="Vacant Lot After2" style="width:100%" src="{{ "/assets/img/photoshop_after2.jpg" | prepend: site.baseurl }}" onclick="openModal();currentSlide(5)" class="hover-shadow cursor"/>
        </div>
        <div class="column">
            <img alt="Frelinghuysen Ave Before" style="width:100%" src="{{ "/assets/img/render2.jpg" | prepend: site.baseurl }}" onclick="openModal();currentSlide(6)" class="hover-shadow cursor"/>
        </div>
        <div class="column">
            <img alt="Frelinghuysen Ave After" style="width:100%" src="{{ "/assets/img/Render1.png" | prepend: site.baseurl }}" onclick="openModal();currentSlide(7)" class="hover-shadow cursor"/>
        </div>

        <div class="column">
            <!-- src="{{ "/assets/img/WeequahicWalk.png" | prepend: site.baseurl }}" -->
            <img alt="Frelinghuysing Ave Street Before B&W" style="width:100%" src="{{ "/assets/img/BeforeFrelinghuysing_BW.svg" | prepend: site.baseurl }}" onclick="openModal();currentSlide(8)" class="hover-shadow cursor"/>

            <div class="column">
                <img alt="Frelinghuysen Ave Before Color" style="width:100%" src="{{ "/assets/img/Frelinghuysen_Ave_Before_COLOR.svg" | prepend: site.baseurl }}" onclick="openModal();currentSlide(9)" class="hover-shadow cursor"/>
            </div>
            <div class="column">
                <img alt="Frelinghuysen Ave After Color" style="width:100%" src="{{ "/assets/img/Frelinghuysen_Ave_AFTER_COLOR.svg" | prepend: site.baseurl }}" onclick="openModal();currentSlide(10)" class="hover-shadow cursor"/>
            </div>

      </div>
      
      <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
      
          <div class="mySlides">
            <div class="numbertext">1 / 10</div>
            <!-- <img src="{{ "/assets/img/ESRI.jpg | prepend: site.baseurl }}" style="width:100%" /> -->
            <img alt="EWR Site Plan Before" style="width:100%" src="{{ "/assets/img/newark_before.jpg" | prepend: site.baseurl }}" />
          </div>
      
          <div class="mySlides">
            <div class="numbertext">2 / 10</div>
            <img alt="EWR Site Plan After" style="width:100%" src="{{ "/assets/img/newark_after.jpg" | prepend: site.baseurl }}" />
          </div>
      
          <div class="mySlides">
            <div class="numbertext">3 / 10</div>
            <img alt="Vacant Lot" style="width:100%" src="{{ "/assets/img/photoshop_before.jpg" | prepend: site.baseurl }}" />
          </div>
          
          <div class="mySlides">
            <div class="numbertext">4 / 10</div>
            <img alt="Vacant Lot After" style="width:100%" src="{{ "/assets/img/photoshop_after1.png" | prepend: site.baseurl }}" />
          </div>

          <div class="mySlides">
              <div class="numbertext">5 / 10</div>
              <img alt="Vacant Lot After" style="width:100%" src="{{ "/assets/img/photoshop_after2.jpg" | prepend: site.baseurl }}" />
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 10</div>
                <img alt="Frelinghuysen Ave Before" style="width:100%" src="{{ "/assets/img/render2.jpg" | prepend: site.baseurl }}" />
              </div>

              <div class="mySlides">
                  <div class="numbertext">7 / 10</div>
                  <img alt="Frelinghuysen Ave After" style="width:100%" src="{{ "/assets/img/Render1.png" | prepend: site.baseurl }}" />
                </div>
                <div class="mySlides">
                    <div class="numbertext">8 / 10</div>
                    <img alt="Frelinghuysen Ave After" style="width:100%" src="{{ "/assets/img/BeforeFrelinghuysing_BW.svg" | prepend: site.baseurl }}" />
                  </div>
                  <div class="mySlides">
                      <div class="numbertext">9 / 10</div>
                      <img alt="Frelinghuysen Ave Before Color" style="width:100%" src="{{ "/assets/img/Frelinghuysen_Ave_Before_COLOR.svg" | prepend: site.baseurl }}" />
                    </div>
                    <div class="mySlides">
                      <div class="numbertext">10 / 10</div>
                      <img alt="Frelinghuysen Ave After Color" style="width:100%" src="{{ "/assets/img/Frelinghuysen_Ave_AFTER_COLOR.svg" | prepend: site.baseurl }}" />
                    </div>
                  
                
        </div>
          
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
          <div class="caption-container">
            <p id="caption"></p>
          </div>
      
      
          <div class="innerdiv">
            <div class="column">
              <img class="demo cursor" alt="EWR Site Plan Before" style="width:100%" src="{{ "/assets/img/newark_before.jpg" | prepend: site.baseurl }}"  onclick="currentSlide(1)" />
            <!-- <img class="demo cursor" src="{{ "/assets/img/ESRI.jpg | prepend: site.baseurl }}" style="width:100%" onclick="currentSlide(1)" alt="Vacant Lot" /> -->
          </div>
          <div class="column">
              <img class="demo cursor" alt="EWR Site Plan After" style="width:100%" src="{{ "/assets/img/newark_after.jpg" | prepend: site.baseurl }}"  onclick="currentSlide(2)" />
            <!-- <img class="demo cursor" src="{{ "/assets/img/photoshop_after1.png | prepend: site.baseurl }}" style="width:100%" onclick="currentSlide(2)" alt="B&W Render Children on field" /> -->
          </div>
          <div class="column">
              <img class="demo cursor" alt="Vacant Lot" style="width:100%" src="{{ "/assets/img/photoshop_before.jpg" | prepend: site.baseurl }}"  onclick="currentSlide(3)" />
          </div>
          <div class="column">
              <img class="demo cursor" alt="Vacant Lot After" style="width:100%" src="{{ "/assets/img/photoshop_after1.png" | prepend: site.baseurl }}"  onclick="currentSlide(4)" />
          </div>
          <div class="column">
              <img class="demo cursor" alt="Vacant Lot After" style="width:100%" src="{{ "/assets/img/photoshop_after2.jpg" | prepend: site.baseurl }}"  onclick="currentSlide(5)" />
          </div>
          <div class="column">
              <img class="demo cursor" alt="Frelinghuysen Ave Before" style="width:100%" src="{{ "/assets/img/render2.jpg" | prepend: site.baseurl }}"  onclick="currentSlide(6)" />
          </div>
          <div class="column">
              <img class="demo cursor" alt="Frelinghuysen Ave After" style="width:100%" src="{{ "/assets/img/Render1.png" | prepend: site.baseurl }}"  onclick="currentSlide(7)" />
          </div>
          <div class="column">
              <img class="demo cursor" alt="Frelinghuysen Ave Before Street Section B&W" style="width:100%; filter: invert(100%) brightness(1000) contrast(100%); fill: rgb(255,255,255)" src="{{ "/assets/img/BeforeFrelinghuysing_BW.svg" | prepend: site.baseurl }}"  onclick="currentSlide(8)" />
          </div>
          <div class="column">
              <img class="demo cursor" alt="Frelinghuysen Ave Before Color" style="width:100%; filter: invert(100%) brightness(1000) contrast(100%);" src="{{ "/assets/img/Frelinghuysen_Ave_Before_COLOR.svg" | prepend: site.baseurl }}"  onclick="currentSlide(9)" />
          </div>
          <div class="column">
              <img class="demo cursor" alt="Frelinghuysen Ave After Color" style="width:100%; filter: invert(100%) brightness(1000) contrast(100%);" src="{{ "/assets/img/Frelinghuysen_Ave_AFTER_COLOR.svg" | prepend: site.baseurl }}"  onclick="currentSlide(10)" />
          </div>
          <!-- filter: invert(100%) brightness(1000) contrast(100%); fill: rgb(255,255,255)" -->
        </div> 
        </div>
      </div>
      
      <script>
      function openModal() {
        document.getElementById("myModal").style.display = "grid";
      }
      
      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }
      
      var slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
      }
      </script>
          
      </body>
            </div>
</div>

<h3>Presentations</h3>
<div class="community">
  <div class="project">
      <div style="position:static; padding-bottom:56.25%; padding-top:30px; height:0; overflow:visible;">
          <iframe width="450" height="270" src="https://voicethread.com/app/player/?threadId=12758868" frameborder="0" allowusermedia allowfullscreen allow="camera https://voicethread.com; microphone https://voicethread.com; fullscreen https://voicethread.com;"></iframe>
        </div>
  </div>
  <div class="community">
  <div class="project">
      <div style="position:static; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQlI71y5S991TyMkitxEjyCZs3wMIJM21Ew9_0HcANa1_YQG6UizeZ8ny_Ty_f0sPZXFBJEgse214aN/embed?start=true&loop=false&delayms=5000" frameborder="0" width="450" height="270" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
  </div>
</div>
</div>

<h3>Philly Tech Community</h3>
<div class="community">
  <div class="project">
    <ul>
      <li>
        <a target="_blank" class="bottomlink" href="https://redqueen.us/about/red-queen-hackathon-2018/">RedQueen Hackathon 2018</a>
      </li>
    </ul>
  </div>
</div>
<!-- https://redqueen.us/about/red-queen-hackathon-2018/ -->
<p class="totop" style="position: static;"> 
  <a href="#top" style="float:right; color: #AEB6BF">Back to top</a> 
</p>