<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SafeRide </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Used multiple Geospatial Api's specifically: <a class="paralinks" href="https://github.com/graphhopper/directions-api-js-client">Graphhopper Directions Api</a>, Mapbox Directions Api, <a class="paralinks" href="https://github.com/mapbox/mapbox-gl-js">Mapbox GL JS Api</a>, <a class="paralinks" href="https://github.com/mapbox/mapbox-gl-geocoder">Mapbox GL Geocoder</a> to render svg images, solve travelling salesman problem with bicycle profile and use Public Api's.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
