<!-- carousel cdn requirements -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<!-- style for boostrap carousel on images. -->
<!-- <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      /*width: 70%;*/
      margin: auto;
  }
  </style> -->

<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="demo" src="{{ "/assets/img/saferidedemo1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SafeRide </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Used multiple Geospatial Api's specifically: <a class="paralinks" href="https://github.com/graphhopper/directions-api-js-client">Graphhopper Directions Api</a>, Mapbox Directions Api, <a class="paralinks" href="https://github.com/mapbox/mapbox-gl-js">Mapbox GL JS Api</a>, <a class="paralinks" href="https://github.com/mapbox/mapbox-gl-geocoder">Mapbox GL Geocoder</a> to render svg, and geojson objects in order to solve travelling salesman problem using the bicycle vehicle profile and bias route results. Also used ajax to optimize and render large geojson objects  to the DOM from public API endpoints.</p>
    <a class="project-link" href="http://keisan-saferide.herokuapp.com/">Try it</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/scoop.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> "Scoop" Microblog </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Fullstack,backend focused Ruby on Rails Blogging Web App, complete with CRUD actions on Blogposts, Users Account Information and Comments. App has a seeded relational database with many to one and one to many relationships. Styled using Materialize CSS.</p>
    <a class="project-link" href="https://immense-plateau-34450.herokuapp.com/">Try it</a>
  </div>
</div>
